<div class="page">
  <div class="filter-heading">
    <div class="div-text">
      <div class="main-text">Track your</div>
      <div class="main-text">progress</div>
      <div class="text">Select month to see your stats</div>
    </div>
    <form [formGroup]="calendarForm" class="form">
      <div class="filter">
        <p-calendar
          formControlName="month"
          view="month"
          dateFormat="mm/yy"
          [readonlyInput]="true"
          styleClass="calendar"
          placeholder="Month"
        />
      </div>
      <div class="filter">
        <button type="submit" class="btn" (click)="trackProgress()">
          Track
        </button>
      </div>
    </form>
  </div>
  <div class="card">
    <div *ngFor="let stat of statsList" class="week-stat">
      <p class="dates">{{ stat.startDate }} - {{ stat.endDate }}</p>
      <div class="stats-data">
        <div class="stat">
          <p class="stat-name">#Acts</p>
          <p class="stat-number">{{ stat.trainingsNumber }}</p>
        </div>
        <div class="stat">
          <p class="stat-name">Time</p>
          <p class="stat-number">{{ stat.trainingsDuration }} min</p>
        </div>
        <div class="stat">
          <p class="stat-name">Avg diff</p>
          <p class="stat-number">{{ stat.difficultyAvg }}</p>
        </div>
        <div class="stat">
          <p class="stat-name">Avg tired</p>
          <p class="stat-number">{{ stat.tirednessAvg }}</p>
        </div>
      </div>
    </div>
    <p *ngIf="noActivities === true" class="no-act">
      You had no activities this month
    </p>
  </div>
</div>
